<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer 
		class="sidenav" 
		fixedInViewport="true" 
		[attr.role]="(isMobile$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isMobile$ | async) ? 'over' : 'side'" 
		[opened]="false || !(isHandset$ | async)"
		(click)="close()">
		<app-sidenav-header></app-sidenav-header>
		<app-sidenav-content></app-sidenav-content>
	</mat-sidenav>
	<mat-sidenav-content>
		<app-navbar [drawer]="drawer"></app-navbar>
		<section class="content">
			<app-spinner></app-spinner>
			<router-outlet></router-outlet>
		</section>
	</mat-sidenav-content>
</mat-sidenav-container>