mat-card {
    display: flex;
    width: 100%;
}
mat-icon.custom-icon {
    margin-right: 0.5rem;
    color: grey;
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
}

.app-line {
    margin: 0.5rem;
}

.grid-view{
    
}