.granimate {
    background-color: #2ecc71;
    animation: hue 5s linear 0s infinite reverse;
}
.granimate::before {
    background: linear-gradient(105deg, rgba(255, 190, 0, 0), #ffbe00);
    animation: hue 5s linear 1s infinite;
}

@keyframes hue {
    to {
        filter: hue-rotate(1turn);
    }
}

.full {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: system-ui;
    font-size: 48px;
}

div.logo {
    width: 189px;
    height: 50px;
    background: url("./assets/img/unisono.png") center center no-repeat;
}

body {
    margin: 0;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.2rem solid rgba(255, 255, 255, 0.2);
    border-right: 0.2rem solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.2);
    border-left: 0.2rem solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
