<div fxLayoutAlign="center">
    <mat-list (ngx-scroll-tracker)="scrollListener($event)" fxLayout="column" fxFlex="100" fxFlex.sm="85" fxFlex.gt-sm="75">
        <a *ngFor="let post of page.data|async;let i = index;" [routerLink]="['/posts', post.id]">
            <app-post-element [index]="i" [post]="post"></app-post-element>
        </a>
        <mat-progress-bar *ngIf="page.loading | async" color="primary" mode="indeterminate" style="margin-top: 1rem;">
        </mat-progress-bar>
        <app-post-empty></app-post-empty>
    </mat-list>
    <fab-create-post></fab-create-post>
    <fab-scroll-to-top [htmlElement]="scrollableElement"></fab-scroll-to-top>
</div>
