<div (ngx-scroll-tracker)="scrollListener($event)">

    <app-list-view *ngIf="core.isListView|async" [data$]="page.data"></app-list-view>
    <app-grid-view *ngIf="!(core.isListView|async)" [data$]="page.data"></app-grid-view>

    <mat-progress-bar *ngIf="page.loading | async" color="primary" mode="indeterminate" style="margin-top: 1rem;">
    </mat-progress-bar>
    <app-post-empty></app-post-empty>
    <fab-create-post></fab-create-post>
    <fab-scroll-to-top [htmlElement]="scrollableElement"></fab-scroll-to-top>
</div>