<mat-toolbar color="primary" class="mat-elevation-z11">
    <button
        mat-icon-button
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(auth.isAuthenticated | async) && (isHandset$ | async) "
    >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span
        [ngStyle]="{
            'margin-left': (auth.isAuthenticated | async) ? '0' : '1rem'
        }"
        >{{ I18nService.breadcrumb | async | translate }}</span
    >
    <span fxFlex></span>

    <div
        *ngIf="(auth.isAuthenticated | async); then: authenticated; else: guest"
    ></div>

    <ng-template #authenticated>
        <ng-container *ngIf="(core.currentPath | async) == 'posts'">
                <btn-search></btn-search>
                <btn-sort-by></btn-sort-by>
                <btn-filter [filterNavRef]="filterNavRef"></btn-filter>
                <mat-sidenav #filterNavRef
                        position="end"
                        [mode]="'over'"
                        [fixedInViewport]="true"
                        fixedTopGap="56">
                        <app-filters [filterNavRef]="filterNavRef"></app-filters>
                    </mat-sidenav>
                <btn-view></btn-view>
                <btn-more
                    [path]="core.currentPath | async"
                    [id]="core.postId | async"
                    [filterNavRef]="filterNavRef"
                ></btn-more>
        </ng-container>    
    </ng-template>
    
    <ng-template #guest>
        <ng-container *ngIf="(core.currentPath | async) != 'login'">
            <a  routerLink="/login"
                fxHide.xs="true"
                mat-button
                (click)="drawer.close()">
                {{ "navbar.login" | translate }}
            </a>                    
            <button
                mat-icon-button
                routerLink="/login"
                fxHide.gt-xs="true"
                matTooltip="{{ 'tooltips.login' | translate }}"
                [matTooltipClass]="'tooltip'">
                <mat-icon aria-label="iniciar sesion">fingerprint</mat-icon>
            </button>
        </ng-container>
        <btn-lang></btn-lang>
    </ng-template>
</mat-toolbar>
